{:highlights [{:id #uuid "6491380c-b8ec-41a6-995a-cc79b2e15d5c",
               :page 3,
               :position {:bounding {:x1 77,
                                     :y1 93,
                                     :x2 899,
                                     :y2 405,
                                     :width 989.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1687238666768},
               :properties {:color "yellow"}}
              {:id #uuid "64913974-25fe-4614-9032-e239becf8680",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 254,
                                     :x2 412.5838623046875,
                                     :y2 629.296875,
                                     :width 836,
                                     :height 1114.6666666666667},
                          :rects ({:x1 0,
                                   :y1 254,
                                   :x2 0,
                                   :y2 274,
                                   :width 836,
                                   :height 1114.6666666666667}
                                  {:x1 0,
                                   :y1 270,
                                   :x2 0,
                                   :y2 290,
                                   :width 836,
                                   :height 1114.6666666666667}
                                  {:x1 0,
                                   :y1 286,
                                   :x2 0,
                                   :y2 306,
                                   :width 836,
                                   :height 1114.6666666666667}
                                  {:x1 158.60992431640625,
                                   :y1 580.640625,
                                   :x2 412.3307189941406,
                                   :y2 595.640625,
                                   :width 836,
                                   :height 1114.6666666666667}
                                  {:x1 65.796875,
                                   :y1 595.828125,
                                   :x2 68.53125,
                                   :y2 606.828125,
                                   :width 836,
                                   :height 1114.6666666666667}
                                  {:x1 59.28125,
                                   :y1 597.46875,
                                   :x2 67.078125,
                                   :y2 613.46875,
                                   :width 836,
                                   :height 1114.6666666666667}
                                  {:x1 79.5625,
                                   :y1 597.46875,
                                   :x2 412.5838623046875,
                                   :y2 612.46875,
                                   :width 836,
                                   :height 1114.6666666666667}
                                  {:x1 65.796875,
                                   :y1 604.5625,
                                   :x2 75.1354751586914,
                                   :y2 615.5625,
                                   :width 836,
                                   :height 1114.6666666666667}
                                  {:x1 59.265625,
                                   :y1 614.296875,
                                   :x2 134.98117065429688,
                                   :y2 629.296875,
                                   :width 836,
                                   :height 1114.6666666666667}),
                          :page 3},
               :content {:text "The relationship of these pairwise interactionsˆet ij themselves is captured by a multi-head attention (MHA) at the edge level"},
               :properties {:color "yellow"}}
              {:id #uuid "64913a15-8b9f-426a-b7e4-d6d1ac654fc9",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 718,
                                     :x2 412.5060729980469,
                                     :y2 832.40625,
                                     :width 836,
                                     :height 1114.6666666666667},
                          :rects ({:x1 0,
                                   :y1 718,
                                   :x2 0,
                                   :y2 738,
                                   :width 836,
                                   :height 1114.6666666666667}
                                  {:x1 0,
                                   :y1 734,
                                   :x2 0,
                                   :y2 754,
                                   :width 836,
                                   :height 1114.6666666666667}
                                  {:x1 278.3323669433594,
                                   :y1 783.75,
                                   :x2 411.1221008300781,
                                   :y2 798.75,
                                   :width 836,
                                   :height 1114.6666666666667}
                                  {:x1 59.28125,
                                   :y1 800.59375,
                                   :x2 412.5060729980469,
                                   :y2 815.59375,
                                   :width 836,
                                   :height 1114.6666666666667}
                                  {:x1 59.28125,
                                   :y1 817.40625,
                                   :x2 310.7442321777344,
                                   :y2 832.40625,
                                   :width 836,
                                   :height 1114.6666666666667}),
                          :page 3},
               :content {:text "Gumbel Softmax [29] is used to sample the most important neighbor to the ith target from these categorical distributions at each head"},
               :properties {:color "yellow"}}
              {:id #uuid "64913ae4-5ff6-49da-8cc5-dce9a0b0fd06",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 787.296875,
                                     :x2 782.7753295898438,
                                     :y2 1778,
                                     :width 836,
                                     :height 1114.6666666666667},
                          :rects ({:x1 729.6001586914062,
                                   :y1 787.296875,
                                   :x2 782.4969482421875,
                                   :y2 802.296875,
                                   :width 836,
                                   :height 1114.6666666666667}
                                  {:x1 429.4375,
                                   :y1 804.109375,
                                   :x2 782.7753295898438,
                                   :y2 819.109375,
                                   :width 836,
                                   :height 1114.6666666666667}
                                  {:x1 480.75,
                                   :y1 811.203125,
                                   :x2 482.9375,
                                   :y2 822.203125,
                                   :width 836,
                                   :height 1114.6666666666667}
                                  {:x1 429.4375,
                                   :y1 820.9375,
                                   :x2 725.984375,
                                   :y2 835.9375,
                                   :width 836,
                                   :height 1114.6666666666667}
                                  {:x1 742.078125,
                                   :y1 820.9375,
                                   :x2 782.773193359375,
                                   :y2 835.9375,
                                   :width 836,
                                   :height 1114.6666666666667}
                                  {:x1 725.609375,
                                   :y1 826.46875,
                                   :x2 741.3656616210938,
                                   :y2 837.46875,
                                   :width 836,
                                   :height 1114.6666666666667}
                                  {:x1 429.4375,
                                   :y1 837.765625,
                                   :x2 700.7241821289062,
                                   :y2 852.765625,
                                   :width 836,
                                   :height 1114.6666666666667}
                                  {:x1 0,
                                   :y1 1710,
                                   :x2 0,
                                   :y2 1730,
                                   :width 836,
                                   :height 1114.6666666666667}
                                  {:x1 0,
                                   :y1 1726,
                                   :x2 0,
                                   :y2 1746,
                                   :width 836,
                                   :height 1114.6666666666667}
                                  {:x1 0,
                                   :y1 1742,
                                   :x2 0,
                                   :y2 1762,
                                   :width 836,
                                   :height 1114.6666666666667}
                                  {:x1 0,
                                   :y1 1758,
                                   :x2 0,
                                   :y2 1778,
                                   :width 836,
                                   :height 1114.6666666666667}),
                          :page 3},
               :content {:text "The node masks mt i’s are set as one through the prediction period for all pedestrians except for who disappear before or at Tobs, as we assume they will never come back into the scene. "},
               :properties {:color "red"}}],
 :extra {:page 4}}
