{:highlights [{:id #uuid "647672a0-1548-4c82-b74d-40b0b2e1d83a",
               :page 3,
               :position {:bounding {:x1 174,
                                     :y1 925,
                                     :x2 404,
                                     :y2 1003,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1685484187661},
               :properties {:color "yellow"}}
              {:id #uuid "647672e8-61de-4138-931a-fb6360e4b176",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 942,
                                     :x2 213.265625,
                                     :y2 1172.9375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 942,
                                   :x2 0,
                                   :y2 962,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 958,
                                   :x2 0,
                                   :y2 978,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 181.984375,
                                   :y1 1147.828125,
                                   :x2 213.265625,
                                   :y2 1160.828125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 126.3125,
                                   :y1 1148.90625,
                                   :x2 129.546875,
                                   :y2 1161.90625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 90,
                                   :y1 1149.859375,
                                   :x2 126.90625,
                                   :y2 1168.859375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 156.25,
                                   :y1 1149.859375,
                                   :x2 182.578125,
                                   :y2 1168.859375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 207.734375,
                                   :y1 1149.859375,
                                   :x2 213.265625,
                                   :y2 1168.859375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 126.3125,
                                   :y1 1159.625,
                                   :x2 156.25132751464844,
                                   :y2 1172.625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 181.984375,
                                   :y1 1159.9375,
                                   :x2 206.84133911132812,
                                   :y2 1172.9375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "2(−dt goal + dt−1 goal)"},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
